<img src='https://i.imgur.com/RDAD11M.png' width = '200' align = 'right'>

## *DATA SCIENCE / SECTION 1 / SPRINT 3 / NOTE 4*

# üìù Assignment

# Breast Cancer Clustering

## 1. ÏïÑÎûòÏùò Ï£ºÏÜåÎ•º Ï∞∏Ï°∞ÌïòÏó¨, Îç∞Ïù¥ÌÑ∞Î•º `df`Ïóê Ï§ÄÎπÑÌïòÏÑ∏Ïöî.

<https://www.kaggle.com/uciml/breast-cancer-wisconsin-data>

- FeatureÎßàÎã§ scaleÏù¥ Îã§Î•¥Í∏∞ ÎïåÎ¨∏Ïóê `StandardScaler`Î•º Ï†ÅÏö©Ìï¥ÏïºÌï©ÎãàÎã§.
- Ïù¥ÌõÑ,  "diagnosis"Ïóê ÏûàÎäî label Îç∞Ïù¥ÌÑ∞Î•º Îî∞Î°ú `label`Ïù¥ÎùºÎäî Î≥ÄÏàòÎ°ú ÏÉùÏÑ±ÌïòÏÑ∏Ïöî.
- "diagnosis"Î•º Ï†úÍ±∞Ìïú ÎÇòÎ®∏ÏßÄ Îç∞Ïù¥ÌÑ∞Î•º ÏÇ¨Ïö©ÌïòÏó¨ k-means clusteringÏùÑ ÌïòÎ©∞, 
- `n_clusters = 2`, `random_state = 42`Î•º Ï†úÏô∏Ìïú Îã§Î•∏ parameterÎäî default optionÏùÑ ÏÇ¨Ïö©Ìï©ÎãàÎã§.

In [2]:
import pandas as pd
import numpy as np
from sklearn.cluster import KMeans 
from sklearn.preprocessing import StandardScaler 
from google.colab import files
uploaded = files.upload()

df = pd.read_csv("data.csv", index_col = 0)

df.head()

Saving data.csv to data.csv

         diagnosis  radius_mean  ...  fractal_dimension_worst  Unnamed: 32
id                               ...
842302           M        17.99  ...                  0.11890          NaN
842517           M        20.57  ...                  0.08902          NaN
84300903         M        19.69  ...                  0.08758          NaN
84348301         M        11.42  ...                  0.17300          NaN
84358402         M        20.29  ...                  0.07678          NaN

[5 rows x 32 columns]

In [3]:
features = df.loc[:, 'radius_mean':'fractal_dimension_worst']
label = df['diagnosis']

scaler = StandardScaler()
features = pd.DataFrame(scaler.fit_transform(features))
features.head()

         0         1         2   ...        27        28        29
0  1.097064 -2.073335  1.269934  ...  2.296076  2.750622  1.937015
1  1.829821 -0.353632  1.685955  ...  1.087084 -0.243890  0.281190
2  1.579888  0.456187  1.566503  ...  1.955000  1.152255  0.201391
3 -0.768909  0.253732 -0.592687  ...  2.175786  6.046041  4.935010
4  1.750297 -1.151816  1.776573  ...  0.729259 -0.868353 -0.397100

[5 rows x 30 columns]

In [4]:
Î™®Î•¥Í≤åÎî∞„ÖèÏïÑ„Öè

NameError: ignored

## 2. ÏõêÎûò Îç∞Ïù¥ÌÑ∞Ïùò labelÍ≥º, clustering Ïù¥ÌõÑÏùò ÎùºÎ≤®ÏùÑ ÎπÑÍµêÌïòÏó¨ accuracyÎ•º Ï∏°Ï†ïÌïòÍ≥† Í≤∞Í≥ºÎ•º `Acc`Ïóê Ï†ÄÏû•ÌïòÏÑ∏Ïöî. 

- Acc = Ï†ÑÏ≤¥ Îç∞Ïù¥ÌÑ∞ Ï§ë ÎùºÎ≤®Ïù¥ ÏùºÏπòÌïòÎäî Îç∞Ïù¥ÌÑ∞ Ïàò ÏûÖÎãàÎã§.

ex)

|ÏõêÎûò ÎùºÎ≤®|cluster Ïù¥ÌõÑ label|
|:-:|:-:|
|A|A|
|A|B|
|A|A|
|B|B|
|B|B|
|B|A|

accuracy = $(2 + 2) \over 6$

Ïù¥Îïå ÏïÑÎûòÏùò ÏΩîÎìúÎ•º Ï∞∏Í≥†ÌïòÏó¨ `0`Í≥º `1`Î°ú ÏûàÎäîÎç∞Ïù¥ÌÑ∞Î•º `M`Í≥º `B`Î°ú Î∞îÍøîÏÑú ÏûëÏóÖÌïòÎ©¥ Ï¢ãÏäµÎãàÎã§. 

```python
label2 = label2.replace(0,'M')
label2 = label2.replace(1,'B')
```

In [ ]:
# Ïù¥Í≥≥Ïóê ÎãµÏïàÏùÑ ÏûëÏÑ±ÌïòÏãúÍ∏∞ Î∞îÎûçÎãàÎã§

# üî• ÎèÑÏ†Ñ Í≥ºÏ†ú

ÏïÑÎûò ÎßÅÌÅ¨Î•º Ï∞∏Ï°∞ÌïòÏó¨ hierarchical clusteringÏùÑ breast cancer datasetÏóê Ï†ÅÏö©ÌïòÍ≥†, Í∑∏ Í≤∞Í≥ºÎ•º ÏãúÍ∞ÅÌôîÌïòÏÑ∏Ïöî.

<https://scikit-learn.org/stable/modules/clustering.html#hierarchical-clustering>

In [ ]:
# Ïù¥Í≥≥Ïóê ÎãµÏïàÏùÑ ÏûëÏÑ±ÌïòÏãúÍ∏∞ Î∞îÎûçÎãàÎã§