<img src='https://i.imgur.com/RDAD11M.png' width = '200' align = 'right'>

## *DATA SCIENCE / SECTION 1 / SPRINT 1 / NOTE 1*

---

# ğŸ“ Assignment

## 1.ë°ì´í„°ì…‹ ë¶ˆëŸ¬ì˜¤ê¸° ì—°ìŠµ

ë‹¤ìŒ urlì—ì„œ ì—‘ì…€ íŒŒì¼ì„ ë¶ˆëŸ¬ì˜¤ì„¸ìš”. (pandas excel)

<https://ds-lecture-data.s3.ap-northeast-2.amazonaws.com/stocks/Travel.xlsx>

  - ë°ì´í„°ì…‹ ë³€ìˆ˜ì˜ ì´ë¦„ì€ `df1`, `df2`ë¡œ ì €ì¥í•˜ì„¸ìš”.
  - rowê°€ ì•„ë‹Œ columnì— 'ë§¤ì¶œì•¡', 'ì˜ì—…ì´ìµ' ì´ ê°€ë„ë¡ ë°ì´í„°ë¥¼ transpose í•˜ì„¸ìš”.
  - ì´í›„ ì•„ë˜ ë§í¬ë¥¼ ì°¸ì¡°í•˜ì—¬ ì²«ë²ˆì§¸ rowë¥¼ column nameìœ¼ë¡œ ì„¤ì •í•˜ì„¸ìš”.

<https://stackoverflow.com/questions/31328861/python-pandas-replacing-header-with-top-row>

- íŒŒì¼ì€ 2ê°œì˜ ì‹œíŠ¸ë¡œ êµ¬ì„±ë˜ì–´ ìˆìœ¼ë©° ê°ê° ì´ë¦„ì€ `008770`, `035250` ì…ë‹ˆë‹¤.

In [44]:
import pandas as pd

cloums = ['ë§¤ì¶œì•¡', 'ì˜ì—…ì´ìµ']
url = 'https://ds-lecture-data.s3.ap-northeast-2.amazonaws.com/stocks/Travel.xlsx'
# df1
df1 = pd.read_excel(url, sheet_name = 0)#ìœ„ì¹˜ë¡œ ì§€ì •
df1 = df1.transpose()
df1.rename(columns = df1.iloc[0], inplace = True) ##í–‰ ì´ë¦„ ì§€ì •
df1 = df1.drop(df1.index[0])
# df2
df2 = pd.read_excel(url, sheet_name = 1)
df2 = df2.transpose()
df2.rename(columns = df2.iloc[0], inplace = True)
df2 = df2.drop(df2.index[0])

df1

                        ë§¤ì¶œì•¡ ì˜ì—…ì´ìµ ì˜ì—…ì´ìµ(ë°œí‘œê¸°ì¤€)  ... í˜„ê¸ˆDPS(ì›) í˜„ê¸ˆë°°ë‹¹ìˆ˜ìµë¥  í˜„ê¸ˆë°°ë‹¹ì„±í–¥(%)
2019/09\n(IFRSì—°ê²°)     14753  574        574  ...        0     NaN         0
2019/12\n(IFRSì—°ê²°)     15440  776        776  ...      350     NaN     34.94
2020/03\n(IFRSì—°ê²°)      9437 -668       -668  ...      NaN     NaN         0
2020/06\n(IFRSì—°ê²°)      5230 -634       -634  ...      NaN     NaN         0
2020/09\n(IFRSì—°ê²°)      8795 -198       -198  ...      NaN     NaN       NaN
2020/12(E)\n(IFRSì—°ê²°)   9980   50        NaN  ...      NaN     NaN       NaN
2021/03(E)\n(IFRSì—°ê²°)   9761  144        NaN  ...      NaN     NaN       NaN
2021/06(E)\n(IFRSì—°ê²°)   9820  265        NaN  ...      NaN     NaN       NaN

[8 rows x 32 columns]

## 2. ë°ì´í„° í™•ì¸

- ë°ì´í„°ì˜ dimensionì„ í™•ì¸í•˜ì„¸ìš”.
- ë°ì´í„°ì˜ ê²°ì¸¡ì¹˜ê°€ ì–´ë””ì— ìˆëŠ”ì§€ í™•ì¸ í›„ 0ìœ¼ë¡œ ëŒ€ì²´í•˜ì„¸ìš”.
- ê° ë°ì´í„° ë³„ë¡œ **FCF**ì˜ ê°’ì„ barplotìœ¼ë¡œ ì‹œê°í™”í•˜ì„¸ìš”.
  - 0ë³´ë‹¤ í° ê°’ì¸ ì…€ ê°œìˆ˜ì˜ ì´í•©ì„ `num1`ì—, ì‘ì€ ê°’ì¸ ì…€ ê°œìˆ˜ì˜ ì´í•©ì„ `num2`ì— ì €ì¥í•˜ì„¸ìš”

In [55]:
import numpy as np

print(df1.shape) #dimension ì€ row, columnsë¡œ êµ¬ì„±
print(df2.shape)

df1.fillna(0, inplace = True)
df2.fillna(0, inplace = True)

num1 = df1[(df1[]>0)].count()
num2 = '~'

print(num1)

SyntaxError: ignored

## 3. File export

- ì½ì—ˆë˜ ì—‘ì…€ íŒŒì¼ì˜ ë‚´ìš©ì„ 2ê°œì˜ csvë¡œ ê°ê° ì¶œë ¥í•˜ì„¸ìš”. (python export csv)

  - ì´ë¦„ì€ ê°ê° `df1.csv`, `df2.csv` ì…ë‹ˆë‹¤.

In [ ]:
# ì´ ê³³ì— ë‹µì•ˆì„ ì‘ì„±í•˜ì‹œê¸¸ ë°”ëë‹ˆë‹¤

## 4. Error Handling

- ë‹¤ìŒì˜ ì—ëŸ¬ë¥¼ ê³ ì¹˜ì„¸ìš”. ê²°ê³¼ê°’ì€ 6912ê°€ ë‚˜ì™€ì•¼í•©ë‹ˆë‹¤.

In [ ]:
a = '1234'
b = 5678

a+b

TypeError: ignored

## 5. EDA

ì•„ë˜ì˜ ì½”ë“œëŠ” palmer penguin ë°ì´í„°ë¥¼ ë¶ˆëŸ¬ì˜¬ ìˆ˜ ìˆëŠ” ì½”ë“œì…ë‹ˆë‹¤.

```python
import seaborn as sns

pp = sns.load_dataset('penguins')
```

ì´ë¥¼ ì°¸ì¡°í•˜ì—¬, `pp`ì˜ `species`ì™€ `sex`ë³€ìˆ˜ì— ëŒ€í•´ì„œ cross-tabulationì„ ì‹œí–‰í•˜ê³ , 6ê°œì˜ ê°’ë“¤ ì¤‘ ê°€ì¥ í° ê°’ì„ `num3`ì—, ê°€ì¥ ì‘ì€ ê°’ì„ `num4`ì— ì €ì¥í•˜ì„¸ìš”.

In [ ]:
# ì´ ê³³ì— ë‹µì•ˆì„ ì‘ì„±í•˜ì‹œê¸¸ ë°”ëë‹ˆë‹¤

## ğŸ”¥ ë„ì „ê³¼ì œ

### penguins ë°ì´í„°ë¥¼ ê³„ì† ì‚¬ìš©í•©ë‹ˆë‹¤.

ì´ì— ëŒ€í•´ ì•„ë˜ì˜ taskë“¤ì„ ì‹œí–‰í•˜ì„¸ìš”.

- ê²°ì¸¡ì¹˜ ì²˜ë¦¬ (ì œê±°)

- bill_length_mmì— ëŒ€í•´ì„œ qqplot ê·¸ë¦¬ê¸°

- islandì— ëŒ€í•´ì„œ ë‹¤ë¥¸ 4ê°œì˜ numerical feature ë¥¼ boxplotìœ¼ë¡œ í‘œí˜„í•˜ê¸°

- ê° numerical featureì— ëŒ€í•´ì„œ summary statistics : mean, sd, Quantiles(1Q, 2Q, 3Q, 4Q)ë¥¼ ê³„ì‚°í•˜ì„¸ìš”.

In [ ]:
# ì´ ê³³ì— ë‹µì•ˆì„ ì‘ì„±í•˜ì‹œê¸¸ ë°”ëë‹ˆë‹¤