<img src='https://i.imgur.com/RDAD11M.png' width = '200' align = 'right'>

## *DATA SCIENCE / SECTION 1 / SPRINT 1 / NOTE 1*

---

# 📝 Assignment

## 1.데이터셋 불러오기 연습

다음 url에서 엑셀 파일을 불러오세요. (pandas excel)

<https://ds-lecture-data.s3.ap-northeast-2.amazonaws.com/stocks/Travel.xlsx>

  - 데이터셋 변수의 이름은 `df1`, `df2`로 저장하세요.
  - row가 아닌 column에 '매출액', '영업이익' 이 가도록 데이터를 transpose 하세요.
  - 이후 아래 링크를 참조하여 첫번째 row를 column name으로 설정하세요.

<https://stackoverflow.com/questions/31328861/python-pandas-replacing-header-with-top-row>

- 파일은 2개의 시트로 구성되어 있으며 각각 이름은 `008770`, `035250` 입니다.

## 2. 데이터 확인

- 데이터의 dimension을 확인하세요.
- 데이터의 결측치가 어디에 있는지 확인 후 0으로 대체하세요.
- 각 데이터 별로 **FCF**의 값을 barplot으로 시각화하세요.
  - 0보다 큰값, 작은값의 수의 총합을 `num1`, `num2`에 저장하세요

In [ ]:
num1 = '~'
num2 = '~'

## 3. File export

- 읽었던 엑셀 파일의 내용을 2개의 csv로 각각 출력하세요. (python export csv)

  - 이름은 각각 `df1.csv`, `df2.csv` 입니다.

## 4. Error Handling

- 다음의 에러를 고치세요. 결과값은 6912가 나와야합니다.

In [1]:
a = '1234'
b = 5678

a+b

TypeError: ignored

## Grading

이전 과제를 완료했다면, 아래의 코드를 실행하세요.

In [ ]:
import os

def grade(df1, df2, num1, num2):
  score = 0
  
  score += (df1['매출액'][0] == 14753)
  score += (df2['매출액'][1] == 3728)

  score += (df1.shape == (7, 32))
  score += (df2.isnull().sum().sum() == 0)
  score += (num1 == 4 and num2 == 6)

  score += (os.listdir() == ['.config', 'df2.csv', 'df1.csv', 'sample_data'])

  score += (a+b == 6912)

  return(score)

In [ ]:
grade(df1, df2, num1, num2)

## 🔥 도전과제 

- 다음 데이터를 사용하여 아래와 동일한 그래프를 그리세요.

<https://ds-lecture-data.s3.ap-northeast-2.amazonaws.com/stocks/TSLA.csv>

<img src='https://i.imgur.com/UsS5JcZ.png'>