<img src='https://user-images.githubusercontent.com/6457691/89746244-a6e2a200-daf3-11ea-9314-7863d544d73c.png' width = '200' align = 'right'>

## *DATA SCIENCE / SECTION 1 / SPRINT 1 / NOTE 2*

# ğŸ“ Assignment

## 1. Feature Engineering

- `KT&G` ê¸°ì—… ë°ì´í„°ë¥¼ ê³„ì† ì‚¬ìš©í•©ë‹ˆë‹¤.
  - ë³€ìˆ˜ ì´ë¦„ì€ `df`ë¡œ ì €ì¥í•˜ì„¸ìš”.

- ê° ë¶„ê¸°ë³„ ì˜ì—…ì´ìµë¥ ì„ ì§ì ‘ ê³„ì‚°í•´ë³´ì„¸ìš”. 
  - Feature ì´ë¦„ì€ `ì˜ì—…ì´ìµë¥ 2` ì…ë‹ˆë‹¤.

- ì•„ë˜ ë°ì´í„°ë¥¼ ì°¸ì¡°í•˜ì—¬ 18/19ë…„ë„ì— ëŒ€í•´ì„œ Price to Dream Ratio (PDR)ì„ ê³„ì‚°í•˜ì„¸ìš”.
 
 ## $\rm PDR = {ì‹œê°€ì´ì•¡ \over í•´ë‹¹~ê¸°ì—…ì´~í¬í•¨ëœ~ì „ì²´~ì‹œì¥~ê·œëª¨(TAM)~\times~ì‹œì¥ì ìœ ìœ¨}$

  - ë³€ìˆ˜ ì´ë¦„ì€ `df2`, feature ì´ë¦„ì€ `PDR`ë¡œ, `df2['PDR']`ì„ í†µí•´ `~` ê°’ì´ í™•ì¸ ë˜ì–´ì•¼í•©ë‹ˆë‹¤. ì•„ë˜ì˜ ì „ì œì¡°ê±´ì„ í™œìš©í•˜ì„¸ìš”.
  - ì ìœ ìœ¨ (ì¼ë°˜ë‹´ë°° ê¸°ì¤€) 
    - 18ë…„ : 62%
    - 19ë…„ : 63.5% 
  - ì‹œì¥ì˜ ê·œëª¨ 
     - 18ë…„ : 15ì¡° 
     - 19ë…„ : 15ì¡°

||êµ¬ë¶„|ì¢…ê°€|ë°œí–‰ì£¼ì‹ìˆ˜|ì‹œê°€ì´ì•¡|ì‹œì¥ì ìœ ìœ¨|PDR|
|:-:|:-:|:-:|:-:|:-:|:-:|:-:|
|0|18ë…„|101500|137292497|13935188445500|62.0|~|
|1|19ë…„|93800|137292497|12878036218600|63.5|~|





- **ê¸ˆì¼ ë¬¸ì œëŠ” ```pd.read_csv ì—ì„œ thousands = ',' ``` ê°’ì„ ì¸ìë¡œ ì£¼ì–´ í’€ë©´ ì•ˆë©ë‹ˆë‹¤.**

In [1]:
import pandas as pd

url = 'https://ds-lecture-data.s3.ap-northeast-2.amazonaws.com/kt%26g/kt%26g_0.csv'
headers = ['ë¶„ê¸°', 'ë§¤ì¶œì•¡', 'ì˜ì—…ì´ìµ', 'ì˜ì—…ì´ìµ(ë°œí‘œê¸°ì¤€)', 'ì„¸ì „ê³„ì†ì‚¬ì—…ì´ìµ',
           'ë‹¹ê¸°ìˆœì´ìµ', 'ë‹¹ê¸°ìˆœì´ìµ(ì§€ë°°)', 'ë‹¹ê¸°ìˆœì´ìµ(ë¹„ì§€ë°°)', 'ìì‚°ì´ê³„', 'ë¶€ì±„ì´ê³„',
           'ìë³¸ì´ê³„', 'ìë³¸ì´ê³„(ì§€ë°°)', 'ìë³¸ì´ê³„(ë¹„ì§€ë°°)', 'ìë³¸ê¸ˆ', 'ì˜ì—…í™œë™í˜„ê¸ˆíë¦„',
           'íˆ¬ìí™œë™í˜„ê¸ˆíë¦„', 'ì¬ë¬´í™œë™í˜„ê¸ˆíë¦„', 'ì˜ì—…ì´ìµë¥ ', 'ìˆœì´ìµë¥ ', 'ROE(%)',
           'ROA(%)', 'ë¶€ì±„ë¹„ìœ¨', 'ìë³¸ìœ ë³´ìœ¨', 'EPS(ì›)', 'PER(ë°°)']

df = pd.read_csv(url, names = headers)

def to_int(string):
  return int(string.replace(',', ''))

# ì˜ì—…ì´ìµë¥  = ì˜ì—…ì´ìµ / ë§¤ì¶œì•¡ * 100
df['ì˜ì—…ì´ìµë¥ 2'] = df['ì˜ì—…ì´ìµ'].apply(to_int) / df['ë§¤ì¶œì•¡'].apply(to_int) * 100.0
df['ì˜ì—…ì´ìµë¥ 2'] = round(df['ì˜ì—…ì´ìµë¥ 2'], 2)

df2 = pd.DataFrame({'êµ¬ë¶„' : ['18ë…„', '19ë…„'],
                    'ì¢…ê°€' : [101500, 93800],
                    'ë°œí–‰ì£¼ì‹ìˆ˜' : [137292497, 137292497],
                    'ì‹œê°€ì´ì•¡' : [13935188445500 , 12878036218600],
                    'ì‹œì¥ì ìœ ìœ¨' : [62.0, 63.5]})

df2['PDR'] = df2['ì‹œê°€ì´ì•¡'] / (df2['ì‹œì¥ì ìœ ìœ¨'] * 0.01) / 15000000000000 * 100

df

      ë¶„ê¸°     ë§¤ì¶œì•¡   ì˜ì—…ì´ìµ ì˜ì—…ì´ìµ(ë°œí‘œê¸°ì¤€)  ...   ìë³¸ìœ ë³´ìœ¨ EPS(ì›) PER(ë°°)  ì˜ì—…ì´ìµë¥ 2
0   19/6  12,578  3,991      3,991  ...  803.22  2,351  13.77   31.73
1   19/9  13,222  3,825      3,825  ...  836.86  2,337  13.87   28.93
2  19/12  11,982  2,523      2,523  ...  850.82    873  12.42   21.06
3   20/3  11,784  3,150      3,150  ...  823.16  2,134   9.71   26.73
4   20/6  13,188  3,947      3,947  ...  837.40  2,135  10.46   29.93

[5 rows x 26 columns]

## 2. String Manipulation

- replaceê°€ ì•„ë‹Œ ë‹¤ë¥¸ ë°©ë²•ì„ ì‚¬ìš©í•˜ì—¬ 19ë…„ë„ 2ë¶„ê¸°ì˜ ë§¤ì¶œì•¡ ì„ integerë¡œ ë³€ê²½í•˜ì„¸ìš”. ê²°ê³¼ê°’ì€ 12578ì´ ë‚˜ì™€ì•¼í•©ë‹ˆë‹¤.

In [2]:
import re
df['ë§¤ì¶œì•¡'][0] = int(re.sub(r"[^0-9]", "", df['ë§¤ì¶œì•¡'][0]))
df['ë§¤ì¶œì•¡'][0]

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

12578

## 3. Apply
- ë°ì´í„°ì…‹ì˜ ë¶„ê¸°ë¥¼ ì œì™¸í•œ ëª¨ë“  featureì— ëŒ€í•´ì„œ ìˆ˜ì¹˜í˜• ë°ì´í„° (`int`, `float`) ë¡œ ìˆ˜ì •í•˜ê³ , `describe`ë¥¼ í†µí•´ summary statistics ë¥¼ í™•ì¸í•˜ì„¸ìš”.
- ë‹¨ ê²°ì¸¡ì¹˜ëŠ” `0`ìœ¼ë¡œ ì²˜ë¦¬í•©ë‹ˆë‹¤.

In [3]:
df = df.fillna(0)

changes = ["ë§¤ì¶œì•¡", "ì˜ì—…ì´ìµ", "ì˜ì—…ì´ìµ(ë°œí‘œê¸°ì¤€)", "ì„¸ì „ê³„ì†ì‚¬ì—…ì´ìµ", "ë‹¹ê¸°ìˆœì´ìµ", "ë‹¹ê¸°ìˆœì´ìµ(ì§€ë°°)", 
           "ìì‚°ì´ê³„", "ë¶€ì±„ì´ê³„", "ìë³¸ì´ê³„", "ìë³¸ì´ê³„(ì§€ë°°)", "ìë³¸ê¸ˆ", "ì˜ì—…í™œë™í˜„ê¸ˆíë¦„", "íˆ¬ìí™œë™í˜„ê¸ˆíë¦„", 
           "ì¬ë¬´í™œë™í˜„ê¸ˆíë¦„", "EPS(ì›)" ]
def toint(x1):
    return int(x1.replace(',',''))

df['ë§¤ì¶œì•¡'][0] = str(df['ë§¤ì¶œì•¡'][0])

for change in changes :
  df[change] = df[change].apply(toint)

df.describe()

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  if __name__ == '__main__':

                ë§¤ì¶œì•¡         ì˜ì—…ì´ìµ  ...     PER(ë°°)     ì˜ì—…ì´ìµë¥ 2
count      5.000000     5.000000  ...   5.000000   5.000000
mean   12550.800000  3487.200000  ...  12.046000  27.676000
std      664.979097   636.931079  ...   1.898112   4.115651
min    11784.000000  2523.000000  ...   9.710000  21.060000
25%    11982.000000  3150.000000  ...  10.460000  26.730000
50%    12578.000000  3825.000000  ...  12.420000  28.930000
75%    13188.000000  3947.000000  ...  13.770000  29.930000
max    13222.000000  3991.000000  ...  13.870000  31.730000

[8 rows x 25 columns]

## ğŸ”¥ ë„ì „ê³¼ì œ

### NA Value Handling

- 19ë…„ë„ 4ë¶„ê¸°ì˜ ë‹¹ê¸°ìˆœì´ìµ(ë¹„ì§€ë°°) ë¶€ë¶„ì„ Naë¡œ ëŒ€ì²´í•˜ì„¸ìš”
- ì´í›„ í•´ë‹¹ ê²°ì¸¡ì¹˜ë¥¼ mean imputation ë°©ë²•ì„ ì‚¬ìš©í•˜ì—¬ ì²˜ë¦¬í•˜ì„¸ìš”.

In [ ]:
# ì´ ê³³ì— ë‹µì•ˆì„ ì‘ì„±í•˜ì‹œê¸¸ ë°”ëë‹ˆë‹¤

### Feature Engineering

Relative Perfomance ë¼ëŠ” ìƒˆë¡œìš´ featureë¥¼ ê³„ì‚°í•˜ì„¸ìš”.

ì´ëŠ” ìµœê·¼ 1ë…„ì¹˜ ë§¤ì¶œì•¡ì˜ í‰ê· ê°’ì„ ê¸°ì¤€ìœ¼ë¡œ 

- 10% ì´ìƒ -> `S`
- 5% ì´ìƒ -> `A`
- -5 ~ 5% -> `B`
- -5%ì´í•˜ -> `C`
- 10%ì´í•˜ -> `D`

ë¼ëŠ” ê°’ì„ ê°–ëŠ” featureì…ë‹ˆë‹¤.

20ë…„ë„ 2ë¶„ê¸°ì— í•´ë‹¹í•˜ëŠ” ê²°ê³¼ê°’ì€ `A`ê°€ ë‚˜ì™€ì•¼í•©ë‹ˆë‹¤.

ê°ê°ì— í•´ë‹¹í•˜ëŠ” ë“±ê¸‰ì´ ë‚˜ì˜¤ê¸° ìœ„í•´ì„œ í•„ìš”í•œ ë§¤ì¶œì•¡ì„ ì¶”ê°€ë¡œ ì„œìˆ í•˜ì„¸ìš”.

In [ ]:
# ì´ ê³³ì— ë‹µì•ˆì„ ì‘ì„±í•˜ì‹œê¸¸ ë°”ëë‹ˆë‹¤