<img align="right" src="https://ds-cs-images.s3.ap-northeast-2.amazonaws.com/Codestates_Fulllogo_Color.png" width=100>

## *AIB / SECTION 2 / SPRINT 3 / NOTE 2*

# ğŸ“ Assignment
---
# Data Wrangling

### 1) ì§€ì†ì ìœ¼ë¡œ ì—¬ëŸ¬ë¶„ì˜ í¬íŠ¸í´ë¦¬ì˜¤ ë°ì´í„°ë¥¼ ë­ê¸€ë§ í•˜ì„¸ìš”
- ì—¬ëŸ¬ë¶„ì´ ì„ íƒí•œ ë°ì´í„°ë“¤ì„ ë­ê¸€ë§í•˜ì—¬ ëª¨ë¸ì„ ë§Œë“¤ê¸° ìœ„í•œ í…Œì´ë¸” í˜•íƒœì˜ ë°ì´í„°ë¡œ ë§Œë“¤ì–´ ë³´ì„¸ìš”.
- **(Urclass Quiz) ë‹¤ìŒ í•¨ìˆ˜ì˜ resultë¥¼ ì™„ì„±ì‹œí‚¤ê³  ë¦¬í„´ê°’ì„ ì œì¶œí•˜ì„¸ìš”.**

In [5]:
df

,SN,Age,Gender,Item ID,Item Name,Price
Purchase ID,,,,,,
0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,Ithergue48,24,Male,92,Final Critic,4.88
3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,Iskosia90,23,Male,131,Fury,1.44
...,...,...,...,...,...,...
775,Aethedru70,21,Female,60,Wolf,3.54
776,Iral74,21,Male,164,Exiled Doomblade,1.63
777,Yathecal72,20,Male,67,"Celeste, Incarnation of the Corrupted",3.46
778,Sisur91,7,Male,101,Final Critic,4.19
779,Ennrian78,24,Male,50,Dawn,4.60

In [8]:
import pandas as pd
import pandas as np
df = pd.read_csv("https://ds-lecture-data.s3.ap-northeast-2.amazonaws.com/assignments/purchase_data.csv", sep=",",index_col=0)

## ë‹¤ìŒ result í•¨ìˆ˜ ì•ˆì— male, female ë³€ìˆ˜ë¥¼ ê³„ì‚°í•˜ì„¸ìš”.(groupby, get_groupì„ ì‚¬ìš©í•˜ì„¸ìš”.)
## sum_male: Age = 20, Gender = "Male" ê·¸ë£¹ì˜ Priceë¥¼ í•©í•˜ì„¸ìš”.
## sum_female: Age = 20, Gender = "Female" ê·¸ë£¹ì˜ Priceë¥¼ í•©í•˜ì„¸ìš”.

def result(df):

    sum_male = df[(df.Age == 20) & (df.Gender == 'Male')].Price.sum()
    sum_female = df[(df.Age == 20) & (df.Gender == 'Female')].Price.sum()

    print("sum_male: {}, sum_female: {}".format(sum_male, sum_female))
    return round(sum_male + sum_female)

result(df)

sum_male: 260.2, sum_female: 43.730000000000004

304

In [ ]:
### ì´ê³³ì—ì„œ ë³¸ì¸ ë°ì´í„°ë¡œ ê³¼ì œë¥¼ ì§„í–‰í•´ ì£¼ì„¸ìš” ###

### 2) ìƒˆë¡œ íŠ¹ì§•ë“¤ì„ ë§Œë“¤ì–´ ë³´ì„¸ìš”
- **(Urclass Quiz) purchase_dataë¥¼ ë­ê¸€ë§í•˜ì—¬ ë‹¤ìŒ ì¡°ê±´ì„ ê³„ì‚°í•˜ê³  ê²°ê³¼ê°€ ì˜¬ë°”ë¥¸ í•­ëª©ì„ ê³ ë¥´ì„¸ìš”.**
    1. ë‚˜ì´ 1-20ì„¸ ê·¸ë£¹(20ì„¸ í¬í•¨)ì˜ í‰ê·  PriceëŠ” 3.101818ì´ë‹¤.
    2. ë‚˜ì´ 21-50ì„¸ ê·¸ë£¹ì˜ í‰ê·  PriceëŠ” 3.021559ì´ë‹¤.
    3. ê°€ì¥ ë§ì´ êµ¬ì…í•œ ì•„ì´í…œì˜ IDëŠ” 178 ì´ë‹¤.
    4. ë‘ë²ˆì§¸ë¡œ ë§¤ì¶œì„ ë§ì´ ë‚¸ ì•„ì´í…œ IDëŠ” 145ì´ë‹¤.

In [31]:
result_1 = df[df.Age <= 20].Price.mean()

result_2 = df[(df.Age > 20) & (df.Age <= 50)].Price.mean()

result_3 = df['Item ID'].mode([1, 2])

In [32]:
print(result_1, result_2)
result_3

3.101818181818184 3.0215587044534415

0    178
dtype: int64

In [46]:
### ì´ê³³ì—ì„œ Urlcass í€´ì¦ˆ(assignment)ê³¼ì œë¥¼ ì§„í–‰í•´ ì£¼ì„¸ìš” ###
# ê·¸ë£¹ë³„ Price í‰ê· 

df['Item ID'].value_counts() 

# íŒë§¤ìˆ˜ ìƒìœ„ Item ID


# ë§¤ì¶œ ìƒìœ„ Item IDs

178    12
108     9
82      9
145     9
19      8
       ..
91      1
27      1
42      1
23      1
180     1
Name: Item ID, Length: 183, dtype: int64

## ğŸ”¥ ë„ì „ê³¼ì œ(Github - Discussion)

### 3) ë°ì´í„° ë­ê¸€ë§ ë°©ë²•ë“¤ ì¤‘ ê°€ì¥ ì¤‘ìš”í•˜ë‹¤ê³  ìƒê°í•˜ëŠ” ë°©ë²•ì´ë‚˜ ì–´ë ¤ìš´ ì , í˜¹ì€ ìˆ˜ì—…ì—ì„œ ë°°ìš°ì§€ ì•Šì€ ì¢‹ì€ ë°©ë²•ì´ë‚˜ ì‚¬ë¡€ê°€ ìˆìœ¼ë©´ ì„œë¡œ ê³µìœ í•´ ë³´ì„¸ìš”.

In [ ]:
### ì´ê³³ì—ì„œ ê³¼ì œë¥¼ ì§„í–‰í•´ ì£¼ì„¸ìš” ###