<img src='https://user-images.githubusercontent.com/6457691/89746244-a6e2a200-daf3-11ea-9314-7863d544d73c.png' width = '200' align = 'right'>

## *DATA SCIENCE / SECTION 1 / SPRINT 1 / NOTE 2*

# 📝 Assignment

## 1. Feature Engineering

- `KT&G` 기업 데이터를 계속 사용합니다.
  - 변수 이름은 `df`로 저장하세요.

- 각 분기별 영업이익률을 직접 계산해보세요. 
  - Feature 이름은 `영업이익률2` 입니다.

- 아래 데이터를 참조하여 18/19년도에 대해서 Price to Dream Ratio (PDR)을 계산하세요.
  - 변수 이름은 `df2`, feature 이름은 `PDR`로, `df2['PDR']`을 통해 `~` 값이 확인 되어야합니다.

||구분|종가|발행주식수|시가총액|시장점유율|PDR|
|:-:|:-:|:-:|:-:|:-:|:-:|:-:|
|0|18년|101500|137292497|13935188445500|62.0|~|
|1|19년|93800|137292497|12878036218600|63.5|~|

In [ ]:
url = 'https://ds-lecture-data.s3.ap-northeast-2.amazonaws.com/kt%26g/kt%26g_0.csv'
headers = ['분기', '매출액', '영업이익', '영업이익(발표기준)', '세전계속사업이익',
           '당기순이익', '당기순이익(지배)', '당기순이익(비지배)', '자산총계', '부채총계',
           '자본총계', '자본총계(지배)', '자본총계(비지배)', '자본금', '영업활동현금흐름',
           '투자활동현금흐름', '재무활동현금흐름', '영업이익률', '순이익률', 'ROE(%)',
           'ROA(%)', '부채비율', '자본유보율', 'EPS(원)', 'PER(배)']

## 1-1

In [398]:
import pandas as pd

df = pd.read_csv('https://ds-lecture-data.s3.ap-northeast-2.amazonaws.com/kt%26g/kt%26g_0.csv',header=None)

df.columns = ['분기', '매출액', '영업이익', '영업이익(발표기준)', '세전계속사업이익',
           '당기순이익', '당기순이익(지배)', '당기순이익(비지배)', '자산총계', '부채총계',
           '자본총계', '자본총계(지배)', '자본총계(비지배)', '자본금', '영업활동현금흐름',
           '투자활동현금흐름', '재무활동현금흐름', '영업이익률', '순이익률', 'ROE(%)',
           'ROA(%)', '부채비율', '자본유보율', 'EPS(원)', 'PER(배)'
              ]
df

      분기     매출액   영업이익 영업이익(발표기준)  ...   부채비율   자본유보율 EPS(원)  PER(배)
0   19/6  12,578  3,991      3,991  ...  31.43  803.22  2,351   13.77
1   19/9  13,222  3,825      3,825  ...  24.17  836.86  2,337   13.87
2  19/12  11,982  2,523      2,523  ...  23.04  850.82    873   12.42
3   20/3  11,784  3,150      3,150  ...  29.69  823.16  2,134    9.71
4   20/6  13,188  3,947      3,947  ...  26.91  837.40  2,135   10.46

[5 rows x 25 columns]

In [138]:
df.dtypes

분기             object
매출액            object
영업이익           object
영업이익(발표기준)     object
세전계속사업이익       object
당기순이익          object
당기순이익(지배)      object
당기순이익(비지배)      int64
자산총계           object
부채총계           object
자본총계           object
자본총계(지배)       object
자본총계(비지배)     float64
자본금            object
영업활동현금흐름       object
투자활동현금흐름       object
재무활동현금흐름       object
영업이익률         float64
순이익률          float64
ROE(%)        float64
ROA(%)        float64
부채비율          float64
자본유보율         float64
EPS(원)         object
PER(배)        float64
dtype: object

## 1-2

In [399]:
# int함수
def toInt(string):
    return int(string.replace(',',''))

df['매출액'] = df['매출액'].apply(toInt)
df['영업이익'] = df['영업이익'].apply(toInt)

df.dtypes

분기             object
매출액             int64
영업이익            int64
영업이익(발표기준)     object
세전계속사업이익       object
당기순이익          object
당기순이익(지배)      object
당기순이익(비지배)      int64
자산총계           object
부채총계           object
자본총계           object
자본총계(지배)       object
자본총계(비지배)     float64
자본금            object
영업활동현금흐름       object
투자활동현금흐름       object
재무활동현금흐름       object
영업이익률         float64
순이익률          float64
ROE(%)        float64
ROA(%)        float64
부채비율          float64
자본유보율         float64
EPS(원)         object
PER(배)        float64
dtype: object

In [404]:
df['영업이익률2'] = (df['영업이익'] / df['매출액'] * 100)
df['영업이익률2'] = df['영업이익률2'].round(decimals=3)
df

      분기    매출액  영업이익  영업이익(발표기준)  ...   자본유보율  EPS(원)  PER(배)  영업이익률2
0   19/6  12578  3991        3991  ...  803.22    2351   13.77  31.730
1   19/9  13222  3825        3825  ...  836.86    2337   13.87  28.929
2  19/12  11982  2523        2523  ...  850.82     873   12.42  21.057
3   20/3  11784  3150        3150  ...  823.16    2134    9.71  26.731
4   20/6  13188  3947        3947  ...  837.40    2135   10.46  29.929

[5 rows x 26 columns]

## 1-3

In [400]:
# 아래 데이터를 참조하여 18/19년도에 대해서 Price to Dream Ratio (PDR)을 계산하세요.
#변수 이름은 df2, feature 이름은 PDR로, df2['PDR']을 통해 ~ 값이 확인 되어야합니다.

df2 = pd.DataFrame({"구분":["18년", "19년"],
                    "종가":[101500, 93800],
                    "발행주식수":[137292497, 137292497],
                    "시가총액": [13935188445500, 12878036218600],
                    "시장점유율": [62.0, 63.5],
                    "PDR":["~", "~"],
                    "TAM": [15000000000000, 15000000000000]
                    })
                    
df2['PDR'] = df2['시가총액']/(df2['TAM']*df2['시장점유율']/100) * 100
df2['PDR'] = df2['PDR'].round(decimals=3)

df2

    구분      종가      발행주식수            시가총액  시장점유율      PDR             TAM
0  18년  101500  137292497  13935188445500   62.0  149.841  15000000000000
1  19년   93800  137292497  12878036218600   63.5  135.202  15000000000000

## 2. String Manipulation

- replace가 아닌 다른 방법을 사용하여 19년도 2분기의 매출액 을 integer로 변경하세요. 결과값은 12578이 나와야합니다.

In [383]:
# x = int(''.join(i for i in x 
#                if i is not ',')
# )

df_temp = df.copy()
df_temp.iloc[0, 1] = df_temp.iloc[0, 1][0:2] + df_temp.iloc[0, 1][3:6]
df_temp.iloc[0, 1] = pd.to_numeric(df_temp.iloc[0, 1])
df_temp

      분기     매출액   영업이익 영업이익(발표기준)  ...   부채비율   자본유보율 EPS(원)  PER(배)
0   19/6   12578  3,991      3,991  ...  31.43  803.22  2,351   13.77
1   19/9  13,222  3,825      3,825  ...  24.17  836.86  2,337   13.87
2  19/12  11,982  2,523      2,523  ...  23.04  850.82    873   12.42
3   20/3  11,784  3,150      3,150  ...  29.69  823.16  2,134    9.71
4   20/6  13,188  3,947      3,947  ...  26.91  837.40  2,135   10.46

[5 rows x 25 columns]

## 3. Apply
- 데이터셋의 분기를 제외한 모든 feature에 대해서 수치형 데이터 (`int`, `float`) 로 수정하고, `describe`를 통해 summary statistics 를 확인하세요.
- 단 결측치는 `0`으로 처리합니다.

In [401]:
df['영업이익(발표기준)'] = df['영업이익(발표기준)'].apply(toInt)
df['세전계속사업이익'] = df['세전계속사업이익'].apply(toInt)
df['당기순이익'] = df['당기순이익'].apply(toInt)
df['당기순이익(지배)'] = df['당기순이익(지배)'].apply(toInt)
df['자산총계'] = df['자산총계'].apply(toInt)
df['부채총계'] = df['부채총계'].apply(toInt)
df['자본총계'] = df['자본총계'].apply(toInt)
df['자본총계(지배)'] = df['자본총계(지배)'].apply(toInt)
df['자본금'] = df['자본금'].apply(toInt)
df['영업활동현금흐름'] = df['영업활동현금흐름'].apply(toInt)
df['투자활동현금흐름'] = df['투자활동현금흐름'].apply(toInt)
df['재무활동현금흐름'] = df['재무활동현금흐름'].apply(toInt)
df['EPS(원)'] = df['EPS(원)'].apply(toInt)

df.dtypes

분기             object
매출액             int64
영업이익            int64
영업이익(발표기준)      int64
세전계속사업이익        int64
당기순이익           int64
당기순이익(지배)       int64
당기순이익(비지배)      int64
자산총계            int64
부채총계            int64
자본총계            int64
자본총계(지배)        int64
자본총계(비지배)     float64
자본금             int64
영업활동현금흐름        int64
투자활동현금흐름        int64
재무활동현금흐름        int64
영업이익률         float64
순이익률          float64
ROE(%)        float64
ROA(%)        float64
부채비율          float64
자본유보율         float64
EPS(원)          int64
PER(배)        float64
dtype: object

## Grading

이전 과제를 완료했다면, 아래의 코드를 실행하세요.

In [405]:
def grade(df, df2):
  score = 0
  score += (df.shape == (5, 26)) # 1-1 #
  score += ((round(df2['PDR'], 3) == [149.841, 135.202]).sum() == 2) # 1-2 
  score += ((round(df['영업이익률2'], 3) == [31.730, 28.929, 21.057, 26.731, 29.929]).sum() == 5) # 1-3 #
  score += (df['매출액'][0] == 12578) # 2 #
  score += ((df.dtypes == 'O').sum() == 1)
  return(score)

In [406]:
grade(df, df2)

5

## 🔥 도전과제

### NA Value Handling

- 19년도 4분기의 당기순이익(비지배) 부분을 Na로 대체하세요
- 이후 해당 결측치를 mean imputation 방법을 사용하여 처리하세요.

In [407]:
df.iloc[1,7] = str(df.iloc[1,7])
df.iloc[1, 7] = df.iloc[1, 7].replace("13", 'Na')

df.iloc[1, 7] 

x = pd.to_numeric(df['당기순이익(비지배)'], errors='coerce').mean()
df.iloc[1, 7] = x

df

      분기    매출액  영업이익  영업이익(발표기준)  ...   자본유보율  EPS(원)  PER(배)  영업이익률2
0   19/6  12578  3991        3991  ...  803.22    2351   13.77  31.730
1   19/9  13222  3825        3825  ...  836.86    2337   13.87  28.929
2  19/12  11982  2523        2523  ...  850.82     873   12.42  21.057
3   20/3  11784  3150        3150  ...  823.16    2134    9.71  26.731
4   20/6  13188  3947        3947  ...  837.40    2135   10.46  29.929

[5 rows x 26 columns]

### Feature Engineering

Relative Perfomance 라는 새로운 feature를 계산하세요.

이는 최근 1년치 매출액의 평균값을 기준으로 

- 10% 이상 -> `S`
- 5% 이상 -> `A`
- -5 ~ 5% -> `B`
- -5%이하 -> `C`
- 10%이하 -> `D`

라는 값을 갖는 feature입니다.

20년도 2분기에 해당하는 결과값은 `A`가 나와야합니다.

각각에 해당하는 등급이 나오기 위해서 필요한 매출액을 추가로 서술하세요.

In [408]:
mean = df.iloc[1:, 1].sum() / 4
# mean을 구하고 mean변수에 저장

grades = []
for row in df['매출액']:
    if row >= (mean*1.1):
            grades.append('S')
    elif row >= (mean*1.05):
            grades.append('A')
    elif row >= (mean*0.95):
            grades.append('B')
    elif row >= (mean*0.90):
            grades.append('C')
    else:
            grades.append('D');
df['등급'] = grades

# S: 13798.4 이상
# A: 13171.2
# B: 11916.8
# C: 11289.6
# D: 11289.6 이하

df

      분기    매출액  영업이익  영업이익(발표기준)  세전계속사업이익  ...   자본유보율  EPS(원) PER(배)  영업이익률2  등급
0   19/6  12578  3991        3991      4452  ...  803.22    2351  13.77  31.730   B
1   19/9  13222  3825        3825      4503  ...  836.86    2337  13.87  28.929   A
2  19/12  11982  2523        2523      1794  ...  850.82     873  12.42  21.057   B
3   20/3  11784  3150        3150      4156  ...  823.16    2134   9.71  26.731   C
4   20/6  13188  3947        3947      4020  ...  837.40    2135  10.46  29.929   A

[5 rows x 27 columns]