<img align="right" src="https://ds-cs-images.s3.ap-northeast-2.amazonaws.com/Codestates_Fulllogo_Color.png" width=100>

## *AIB / SECTION 2 / SPRINT 1 / NOTE 4*

# üìù Assignment
---

# Logistic Regression

Ïù¥Î≤àÏóêÎäî [**Cardiovascular Disease dataset**](https://www.kaggle.com/sulianova/cardiovascular-disease-dataset) Îç∞Ïù¥ÌÑ∞ÏÖãÏùÑ ÏÇ¨Ïö©Ìï¥ Î¥ÖÏãúÎã§. Îç∞Ïù¥ÌÑ∞Ïóê ÎåÄÌïú ÏÑ§Î™ÖÏùÑ Ï∫êÍ∏Ä ÌéòÏù¥ÏßÄÏóêÏÑú Ïûò ÏÇ¥Ìé¥Î≥¥ÏãúÍ≥† Í≥ºÏ†úÎ•º ÏßÑÌñâÌï¥ Ï£ºÏÑ∏Ïöî!

### 1) Îç∞Ïù¥ÌÑ∞Î•º Ï†ÑÏ≤òÎ¶¨ ÌïòÍ≤†ÏäµÎãàÎã§.
- Îç∞Ïù¥ÌÑ∞Î•º Î∂àÎü¨Ïò§ÏÑ∏Ïöî.(read_csv ÏÇ¨Ïö©)
- id ÏπºÎüºÏùÄ dropÌïòÏÑ∏Ïöî.
- missing valueÎ•º ÌôïÏù∏ÌïòÏÑ∏Ïöî.
- Ï§ëÎ≥µÎêú ÏÉòÌîåÏù¥ ÏûàÎäîÏßÄ ÌôïÏù∏ÌïòÏÑ∏Ïöî.
- **Ï§ëÎ≥µÎêú ÏÉòÌîåÏùÑ Ï†úÍ±∞ÌïòÍ≥† ÎÇ®ÏùÄ ÏÉòÌîåÏùò ÏàòÎ•º Ï†úÏ∂úÌïòÏÑ∏Ïöî.**

In [23]:
import pandas as pd
df = pd.read_csv('https://ds-lecture-data.s3.ap-northeast-2.amazonaws.com/cardio/cardio_train.csv', sep=';')

In [24]:
df1 = df.drop(['id'], axis = 1)

In [25]:
df1.isnull().sum()

age            0
gender         0
height         0
weight         0
ap_hi          0
ap_lo          0
cholesterol    0
gluc           0
smoke          0
alco           0
active         0
cardio         0
dtype: int64

In [26]:
df1.duplicated().sum()

24

In [27]:
df1.drop_duplicates()

         age  gender  height  weight  ap_hi  ...  gluc  smoke  alco  active  cardio
0      18393       2     168    62.0    110  ...     1      0     0       1       0
1      20228       1     156    85.0    140  ...     1      0     0       1       1
2      18857       1     165    64.0    130  ...     1      0     0       0       1
3      17623       2     169    82.0    150  ...     1      0     0       1       1
4      17474       1     156    56.0    100  ...     1      0     0       0       0
...      ...     ...     ...     ...    ...  ...   ...    ...   ...     ...     ...
69995  19240       2     168    76.0    120  ...     1      1     0       1       0
69996  22601       1     158   126.0    140  ...     2      0     0       1       1
69997  19066       2     183   105.0    180  ...     1      0     1       0       1
69998  22431       1     163    72.0    135  ...     2      0     0       0       1
69999  20540       1     170    72.0    120  ...     1      0     0       1       0

[69976 rows x 12 columns]

### 2) Îã§Ïö¥Î°úÎìú Ìïú ÌõàÎ†® Îç∞Ïù¥ÌÑ∞Î•º ÌõàÎ†®/Í≤ÄÏ¶ù/ÌÖåÏä§Ìä∏ ÏÑ∏Ìä∏Î°ú ÎÇòÎàÑÏñ¥ Ï£ºÏÑ∏Ïöî.
- ÌÉÄÍ≤ü ÌäπÏÑ±ÏùÑ ÌôïÏù∏ÌïòÍ≥† ÌÉÄÍ≤ü Î≥ÄÏàòÎ•º ÎÇòÎàÑÏñ¥ Ï§çÎãàÎã§.
- Î®ºÏ†Ä, ÌõàÎ†® ÏÑ∏Ìä∏ÏôÄ ÌÖåÏä§Ìä∏ ÏÑ∏Ìä∏Î°ú ÎÇòÎàÑÏñ¥ Ï§çÎãàÎã§(train_test_split ÏÇ¨Ïö©, train/test = 80/20, random_state=2)
- Îã§Ïãú, ÌõàÎ†® ÏÑ∏Ìä∏Î•º ÌõàÎ†® ÏÑ∏Ìä∏ÏôÄ Í≤ÄÏ¶ù ÏÑ∏Ìä∏Î°ú ÎÇòÎàÑÏñ¥ Ï§çÎãàÎã§(train_test_split ÏÇ¨Ïö©, train/validation = 80/20, random_state=2)
- **(Urclass Quiz) Í≤ÄÏ¶ù ÏÑ∏Ìä∏(X_val)Ïùò Í∞úÏàòÎ•º Ï†úÏ∂úÌïòÏÑ∏Ïöî.**

In [29]:
target = 'cardio'

from sklearn.model_selection import train_test_split

train, test = train_test_split(df1, train_size=0.8, test_size=0.2, random_state=2)
print("train shape: ", train.shape)
print("val shape: ", test.shape)

train shape:  (56000, 12)
val shape:  (14000, 12)

In [30]:
train, val = train_test_split(train, train_size=0.8, test_size=0.2, random_state=2)
print("train shape: ", train.shape)
print("val shape: ", val.shape)

train shape:  (44800, 12)
val shape:  (11200, 12)

### 3) ÏÇ¨Ïù¥ÌÇ∑Îü∞Ïùò LogisticRegressionÏùÑ ÏÇ¨Ïö©Ìï¥ ÏïÑÎûò Í∏∞Ï§ÄÏóê ÎßûÏ∂∞ Î™®Îç∏ÏùÑ ÎßåÎì§Ïñ¥ Î≥¥ÏÑ∏Ïöî.
- Î™®Îç∏ÏùÑ ÎßåÎì§Í∏∞ Ï†ÑÏóê Í∏∞Ï§ÄÎ™®Îç∏ÏùÑ ÏÑ§Ï†ïÌï©ÎãàÎã§.
- ÌïòÏù¥ÌçºÌååÎùºÎØ∏ÌÑ∞ max_iter=1000ÏùÑ ÏÇ¨Ïö©Ìï©ÎãàÎã§.
- **(Urclass Quiz) LogisticRegression Î™®Îç∏ÏùÑ ÌïôÏäµÌïòÍ≥† Í≤ÄÏ¶ùÏÑ∏Ìä∏ Ï†ïÌôïÎèÑÎ•º Ï†úÏ∂úÌïòÏÑ∏Ïöî.**

In [ ]:
### Ïù¥Í≥≥ÏóêÏÑú Í≥ºÏ†úÎ•º ÏßÑÌñâÌï¥ Ï£ºÏÑ∏Ïöî ###

### 4) Îç∞Ïù¥ÌÑ∞ÏóêÏÑú Î≤îÏ£ºÌòï ÏÑ±ÏßàÏùÑ ÏßÄÎãå ÌäπÏÑ±ÏùÑ Ï∞æÏïÑ ÏõêÌï´Ïù∏ÏΩîÎî© ÌïòÏÑ∏Ïöî.
- category_encodersÎ•º ÏÇ¨Ïö©Ìï¥ÏÑú 'gender' ÌäπÏÑ±Îßå ÏõêÌï´Ïù∏ÏΩîÎî© ÌïòÏÑ∏Ïöî.
- LogisticRegression Î™®Îç∏ÏùÑ Ïù∏ÏΩîÎî©Îêú Îç∞Ïù¥ÌÑ∞Î°ú Îã§Ïãú ÌïôÏäµÌï©ÎãàÎã§. (ÌïòÏù¥ÌçºÌååÎùºÎØ∏ÌÑ∞ max_iter=1000 ÎèôÏùºÌïòÍ≤å Ï†ÅÏö©)
- **(Urclass Quiz) Í≤ÄÏ¶ùÏÑ∏Ìä∏ Ï†ïÌôïÎèÑÎ•º Ï†úÏ∂úÌïòÏÑ∏Ïöî.**

In [ ]:
### Ïù¥Í≥≥ÏóêÏÑú Í≥ºÏ†úÎ•º ÏßÑÌñâÌï¥ Ï£ºÏÑ∏Ïöî ###

### 5) ÌïôÏäµÌïú Î™®Îç∏ÏùÑ Í≤ÄÏ¶ùÏÑ∏Ìä∏ÏóêÏÑú ÏµúÏ†ÅÌôî ÏãúÌÇ® ÌõÑ, ÌÖåÏä§Ìä∏ÏÑ∏Ìä∏ÏóêÏÑú Îî± Ìïú Î≤à Ï†ïÌôïÎèÑÎ•º ÌôïÏù∏Ìï¥ Î≥¥ÏÑ∏Ïöî.
- **(Urclass Quiz) ÌÖåÏä§Ìä∏ ÏÑ∏Ìä∏ Ï†ïÌôïÎèÑÎ•º Ï†úÏ∂úÌïòÏÑ∏Ïöî.(0.712 Ïù¥ÏÉÅ)**

In [ ]:
### Ïù¥Í≥≥ÏóêÏÑú Í≥ºÏ†úÎ•º ÏßÑÌñâÌï¥ Ï£ºÏÑ∏Ïöî ###

## üî• ÎèÑÏ†ÑÍ≥ºÏ†ú:(Github - Discussion)

### Í≥µÏßÄÎ°ú ÏïàÎÇ¥ÎìúÎ¶¨Îäî Github - Discussion ÌéòÏù¥ÏßÄÏóê Ïò¨Î†§Î≥¥ÏÑ∏Ïöî:)

### 6) EDAÎ•º Ï∂îÍ∞ÄÏ†ÅÏúºÎ°ú ÏàòÌñâÌïòÍ≥† ÏïÑÎûò ÏßàÎ¨∏Ïóê ÎåÄÌïú Î≥∏Ïù∏ÎßåÏùò Í∑ºÍ±∞ÏôÄ ÏàòÌñâÍ≤∞Í≥ºÎ•º Î¶¨Ìè¨Ìä∏Ìï¥ Î≥¥ÏãúÍ≥† ÏÑúÎ°ú ÎÖºÌï¥ Î≥¥ÏÑ∏Ïöî. 
- ÏÉàÎ°úÏö¥ ÌäπÏÑ±ÏùÑ ÎßåÎì§ Ïàò ÏûàÎã§Î©¥, Ïñ¥Îñ§ ÌäπÏÑ±Í≥µÌïôÏùÑ Ìï¥ Î≥º Ïàò ÏûàÏùÑÍπåÏöî? 
- ÏïÑÏõÉÎùºÏù¥Ïñ¥Í∞Ä ÏûàÎäî ÌäπÏÑ±Ïù¥ ÏûàÎã§Î©¥, Ïñ¥Îñ§ Í∏∞Ï§ÄÏúºÎ°ú Ï†úÍ±∞Ìï† Ïàò ÏûàÏùÑÍπåÏöî? 
- [feature scaling](https://scikit-learn.org/stable/modules/preprocessing.html) Î¨∏ÏÑúÎ•º Î≥¥Î©¥ Ïó¨Îü¨Í∞ÄÏßÄ Ï¢ÖÎ•òÏùò ScalarÍ∞Ä ÏûàÎäîÎç∞, Í∞Å ScalarÎäî Í∞ÅÍ∞Å Ïñ¥Îñ§ ÏÉÅÌô©Ïóê Ï†ÅÏö©ÌïòÎ©¥ Ï¢ãÏùÑÍπåÏöî? Î≥∏ Îç∞Ïù¥ÌÑ∞ÏóêÏÑúÎäî Ïñ¥Îñ§ scalarÎ•º Ï†ÅÏö©Ìï¥Î≥º Ïàò ÏûàÏùÑÍπåÏöî? 
- Î™®Îç∏ ÏÑ±Îä•ÏùÑ ÎÜíÏù¥Í∏∞ ÏúÑÌï¥ Ïñ¥Îñ§ ÌäúÎãùÏùÑ Ï∂îÍ∞ÄÌï¥ Î≥º Ïàò ÏûàÏùÑÍπåÏöî?