<img align="right" src="https://ds-cs-images.s3.ap-northeast-2.amazonaws.com/Codestates_Fulllogo_Color.png" width=100>

## *AIB / SECTION 2 / SPRINT 1 / NOTE 2*

# üìù Assignment
---

# Îã§Ï§ëÏÑ†ÌòïÌöåÍ∑Ä(Multiple Linear Regression)

Ïù¥Î≤à Í≥ºÏ†úÏóêÏÑúÎèÑ n211 Í≥ºÏ†ú ÏóêÏÑú Îã§Î£®ÏóàÎçò housing price datasetÏùÑ Í∞ÄÏßÄÍ≥† Î∞∞Ïö¥ ÎÇ¥Ïö©ÏùÑ Ïó∞ÏäµÌï¥ Î≥¥Í≤†ÏäµÎãàÎã§.
Îã§Ïùå ÎßÅÌÅ¨ÏóêÏÑú Îã§Ïö¥Î°úÎìú Î∞õÏïÑ ÏÇ¨Ïö©Ìï¥ Ï£ºÏÑ∏Ïöî. [House Sales in King County, USA](https://www.kaggle.com/harlfoxem/housesalesprediction)

In [15]:
# Îç∞Ïù¥ÌÑ∞Îäî Ï∫êÍ∏ÄÏóêÏÑú Î∞õÏúºÏÖîÎèÑ ÎêòÍ≥† Ïù¥ ÎßÅÌÅ¨ÏóêÏÑú Î∂àÎü¨ÏôÄÎèÑ Îê©ÎãàÎã§.
import pandas as pd
import numpy as np
df = pd.read_csv('https://ds-lecture-data.s3.ap-northeast-2.amazonaws.com/kc_house_data/kc_house_data.csv')

In [4]:
df

               id             date  ...  sqft_living15  sqft_lot15
0      7129300520  20141013T000000  ...           1340        5650
1      6414100192  20141209T000000  ...           1690        7639
2      5631500400  20150225T000000  ...           2720        8062
3      2487200875  20141209T000000  ...           1360        5000
4      1954400510  20150218T000000  ...           1800        7503
...           ...              ...  ...            ...         ...
21608   263000018  20140521T000000  ...           1530        1509
21609  6600060120  20150223T000000  ...           1830        7200
21610  1523300141  20140623T000000  ...           1020        2007
21611   291310100  20150116T000000  ...           1410        1287
21612  1523300157  20141015T000000  ...           1020        1357

[21613 rows x 21 columns]

### 1) Îç∞Ïù¥ÌÑ∞Îäî May 2014 ~ May 2015 Ïùò 2ÎÖÑÏπò Îç∞Ïù¥ÌÑ∞ÏûÖÎãàÎã§. 2015-01-01 Î∂ÄÌÑ∞ ÌÅ∞ ÎÇ†ÏßúÏùò Îç∞Ïù¥ÌÑ∞Îäî ÌÖåÏä§Ìä∏, Í∑∏ Ïù¥Ïô∏Ïùò Îç∞Ïù¥ÌÑ∞Îäî ÌõàÎ†® Îç∞Ïù¥ÌÑ∞ÏÖãÏúºÎ°ú ÎÇòÎàÑÏñ¥ Ï£ºÏÑ∏Ïöî
- **(Urclass Quiz) ÌõàÎ†®Îç∞Ïù¥ÌÑ∞ ÏÉòÌîåÏùò Í∞ØÏàòÎ•º Ï†úÏ∂úÌïòÏÑ∏Ïöî.**

In [16]:
df_train = df[df['date'] < '20150101']
df_test = df[df['date'] >= '20150101']

In [20]:
df_train

               id             date  ...  sqft_living15  sqft_lot15
0      7129300520  20141013T000000  ...           1340        5650
1      6414100192  20141209T000000  ...           1690        7639
3      2487200875  20141209T000000  ...           1360        5000
5      7237550310  20140512T000000  ...           4760      101930
6      1321400060  20140627T000000  ...           2238        6819
...           ...              ...  ...            ...         ...
21603  7852140040  20140825T000000  ...           2270        5731
21605  3448900210  20141014T000000  ...           2520        6023
21608   263000018  20140521T000000  ...           1530        1509
21610  1523300141  20140623T000000  ...           1020        2007
21612  1523300157  20141015T000000  ...           1020        1357

[14633 rows x 21 columns]

### 2) Îëê ÌäπÏÑ±(bathrooms, sqft_living)ÏùÑ ÏÇ¨Ïö©Ìï¥ÏÑú Îã§Ï§ëÏÑ†ÌòïÌöåÍ∑Ä Î™®Îç∏ÏùÑ ÎßåÎì§Ïñ¥ Î≥¥ÏÑ∏Ïöî
- ÌïôÏäµÏãú ParametersÎäî Î™®Îëê Í∏∞Î≥∏Í∞íÏúºÎ°ú Ìï©ÎãàÎã§.
- Ï†ïÍ∑úÌôî(normalize) Îì± Ï∂îÍ∞ÄÏ†ÅÏù∏ Îç∞Ïù¥ÌÑ∞Ï≤òÎ¶¨ ÏóÜÏù¥ ÏßÑÌñâÌï©ÎãàÎã§.
- **(Urclass Quiz) ÌÖåÏä§Ìä∏ÏÑ∏Ìä∏Ïùò MAE Í∞íÏùÑ Ï†úÏ∂úÌïòÏÑ∏Ïöî.(ÏÜåÏàòÏ†ê Ïù¥Ìïò Î∞òÏò¨Î¶º)**

In [17]:
from sklearn.linear_model import LinearRegression
from sklearn.metrics import mean_absolute_error

model = LinearRegression()

target = 'price'
y_train = df_train[target]
y_test = df_test[target]

features = ['bathrooms', 
            'sqft_living']
X_train = df_train[features]
X_test = df_test[features]

In [21]:
model.fit(X_train, y_train)

y_pred = model.predict(X_test)
mae = mean_absolute_error(y_test, y_pred)
print(f'ÌÖåÏä§Ìä∏ ÏóêÎü¨: {np.round(mae)}')

ÌÖåÏä§Ìä∏ ÏóêÎü¨: 179253.0

### 3) Î™®Îç∏Ïùò ÌöåÍ∑ÄÍ≥ÑÏàò(coefficients)ÏôÄ Ï†àÌé∏(intercept)ÏùÑ ÌôïÏù∏Ìï¥ Î≥¥ÏÑ∏Ïöî.
- **(Urclass Quiz) sqft_livingÏùò ÌöåÍ∑ÄÍ≥ÑÏàòÎ•º Ï†úÏ∂úÌïòÏÑ∏Ïöî.(ÏÜåÏàòÏ†ê Ïù¥Ìïò Î∞òÏò¨Î¶º)**

In [22]:
b0 = model.intercept_
b1, b2 = model.coef_

print(f'y = {b0:.0f} + {b1:.0f}x\u2081 + {b2:.0f}x\u2082')

y = -50244 + -5159x‚ÇÅ + 286x‚ÇÇ

### 4) MSE, MAE, RMSE, $R^2$ Î•º ÌõàÎ†®/ÌÖåÏä§Ìä∏ Îç∞Ïù¥ÌÑ∞Ïóê ÎåÄÌï¥ ÌôïÏù∏Ìï¥ Î≥¥ÏÑ∏Ïöî
- **(Urclass Quiz) ÌÖåÏä§Ìä∏ Îç∞Ïù¥ÌÑ∞Ïóê ÎåÄÌïú MSE, MAE, RMSE, $R^2$ Í∞íÏùÑ Ïò¨Î∞îÎ•¥Í≤å Ï†ÅÏùÄ Î≥¥Í∏∞Î•º Í≥†Î•¥ÏÑ∏Ïöî.(ÏÜåÏàòÏ†ê ÎëêÏûêÎ¶¨Ïàò Ïù¥Ìïò Î∞òÏò¨Î¶º)**

In [29]:
from IPython.display import display
from matplotlib.patches import Rectangle
import matplotlib.pyplot as plt
from sklearn.metrics import  mean_squared_error, mean_absolute_error, r2_score

def evaluation_metrics(df, feature, target, slope, intercept):
    x = df[feature]
    y = df[target]
    
    # plot Îç∞Ïù¥ÌÑ∞
    ax = plt.axes()
    df.plot.scatter(feature, target, ax=ax)
    
    # ÏòàÏ∏°
    y_pred = slope * x + intercept
    
    # plot ÏòàÏ∏°
    ax.plot(x, y_pred)
    
    # Plot Ï†úÍ≥±Ïò§Ï∞®(MSE)
    x_left, x_right = ax.get_xlim() # x-axis view limits
    y_bottom, y_top = ax.get_ylim()
    scale = (x_right - x_left) / (y_top - y_bottom)

    for f, t, p in zip(x, y, y_pred):
        xy = (f, min(t, p))
        h = abs(t - p)
        w_scaled = h * scale
        ax.add_patch(Rectangle(xy=xy, width=w_scaled, height=h, alpha=0.2))
    
    # ÌöåÍ∑ÄÎ∞©Ï†ïÏãù ÌèâÍ∞ÄÏßÄÌëú
    mse = mean_squared_error(y, y_pred)
    mae = mean_absolute_error(y, y_pred)
    rmse = mse ** 0.5
    r2 = r2_score(y, y_pred)

    display(pd.DataFrame([['MSE', mse],['MAE', mae],['RMSE', rmse],['R2', r2]], columns=['Metric', 'Score']))

In [37]:

mse = mean_squared_error(y_test, y_pred)
mae = mean_absolute_error(y_test, y_pred)
rmse = mse ** 0.5
r2 = r2_score(y_test, y_pred)

mse, mae, rmse, r2

(71083994178.75656,
 179252.52593261775,
 266615.81757044455,
 0.45999300199894533)

In [32]:
evaluation_metrics(df_test, [('bathrooms', 'sqft_living')], 'price', b0, b1)

KeyError: ignored

## üî•ÎèÑÏ†ÑÍ≥ºÏ†ú(Github - Discussion)

### Í≥µÏßÄÎ°ú ÏïàÎÇ¥ÎìúÎ¶¨Îäî Github - Discussion ÌéòÏù¥ÏßÄÏóê Ïò¨Î†§ Î≥¥ÏÑ∏Ïöî:)

### 5)  EDAÎ•º ÏßÑÌñâÌïòÏãúÍ≥†, ÎëêÍ∞ú Ïù¥ÏÉÅÏùò ÌäπÏÑ±ÏùÑ ÏÑ†ÌÉùÌïòÏó¨ ÌäπÏÑ±Í≥µÌïô(feature engineering)ÏùÑ ÏßÑÌñâÌïú ÌõÑ ÏïÑÎûòÏùò ÏßàÎ¨∏Îì§Ïóê ÎåÄÌïú Î≥∏Ïù∏ÎßåÏùò Î¶¨Ìè¨Ìä∏Î•º ÏûëÏÑ±Ìï¥Î≥¥ÏãúÍ≥† ÏÑúÎ°ú ÎÖºÌï¥ Î≥¥ÏÑ∏Ïöî. 
- Ïñ¥Îñ§ Ïù¥Ïú†ÏóêÏÑú Ìï¥Îãπ ÌäπÏÑ±Í≥µÌïôÏùÑ ÏßÑÌñâÌïòÏÖ®ÎÇòÏöî? ÌäπÏÑ±Í≥µÌïôÏùÑ ÌÜµÌï¥ Í∏∞ÎåÄÌïòÎäî Ìö®Í≥ºÎäî Î¨¥ÏóáÏù¥ÏóàÎÇòÏöî? ÎßåÏïΩ ÏñªÍ≥†Ïûê ÌïòÎäî Ìö®Í≥ºÎ•º ÏñªÏßÄ Î™ªÌñàÎã§Î©¥ Ïù¥Ïú†Îäî Î¨¥ÏóáÏù¥Î©∞ Ïñ¥Îñ§ Ïï°ÏÖòÏùÑ Ï∂îÍ∞ÄÌï† Ïàò ÏûàÏùÑÍπåÏöî? 
- ÌäπÏÑ±Í≥µÌïôÏùÑ Í±∞Ïπú ÌäπÏÑ±ÏùÑ Ìè¨Ìï®Ìï¥ Îã§ÏàòÏùò ÌäπÏÑ±ÏùÑ ÏÇ¨Ïö©Ìïú Î™®Îç∏ÏùÑ ÌïôÏäµÌïòÍ≥† ÌÖåÏä§Ìä∏ Îç∞Ïù¥ÌÑ∞Ïóê ÎåÄÌï¥ MSE, RMSE, MAE, R2 Ïä§ÏΩîÏñ¥Îäî Ïñ¥Îñ†ÌïúÍ∞ÄÏöî? Ìï¥Îãπ Í≤∞Í≥ºÎ•º ÌÜµÌï¥ ÏñªÏùÑ Ïàò ÏûàÎäî Ïù∏ÏÇ¨Ïù¥Ìä∏Îäî Ïñ¥Îñ§ Í≤ÉÏù¥ ÏûàÏóàÎÇòÏöî? 
- ÎßåÎì§Ïñ¥ÏßÑ ÌöåÍ∑ÄÍ≥ÑÏàòÎ•º ÏÇ¨Ïö©Ìï¥ Î™®Îç∏ÏùÑ ÏÑ§Î™ÖÌï¥ Î≥∏Îã§Î©¥? 
- ÎßåÎì§Ïñ¥ÏßÑ Î™®Îç∏ÏùÄ Í≥ºÏÜåÏ†ÅÌï©Ïù∏Í∞ÄÏöî? Í≥ºÎåÄÏ†ÅÌï©Ïù∏Í∞ÄÏöî? ÏùºÎ∞òÌôîÍ∞Ä Ïûò Îêú Î™®Îç∏ÏùÑ ÎßåÎì§Í∏∞ ÏúÑÌï¥ Ï∂îÍ∞ÄÎ°ú Ìï† Ïàò ÏûàÎäî Ïï°ÏÖòÏùÄ Ïñ¥Îñ§ Í≤ÉÏù¥ ÏûàÏùÑÍπåÏöî? 

‚Äªkaggle notebookÏóêÏÑúÎèÑ ÌûåÌä∏Î•º ÏñªÏñ¥ Î≥¥ÏÑ∏Ïöî.

## Ï∞∏Í≥†ÏûêÎ£å
* [Feature Engineering](https://en.wikipedia.org/wiki/Feature_engineering)
* ["A Few Useful Things to Know about Machine Learning"](https://homes.cs.washington.edu/~pedrod/papers/cacm12.pdf)
* [Machine Learning and AI via Brain simulations](https://forum.stanford.edu/events/2011/2011slides/plenary/2011plenaryNg.pdf)
* [_An Introduction to Statistical Learning_](http://faculty.marshall.usc.edu/gareth-james/ISL/ISLR%20Seventh%20Printing.pdf),  Chapter 3.1, Simple Linear Regression, & Chapter 3.2, Multiple Linear Regression
* [Brandon Foltz, Statistics 101: Simple Linear Regression](https://www.youtube.com/watch?v=ZkjP5RJLQF4)