<a href="https://colab.research.google.com/github/codestates/ds-cs-section1-sprint2/blob/master/n121-hypothesis-test/n121a-hypothesis-test.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

<img src='https://i.imgur.com/RDAD11M.png' width = '200' align = 'right'>

## *DATA SCIENCE / SECTION 1 / SPRINT 2 / NOTE 1*

# 📝 Assignment

## 1. 1-Sample T-tests 연습

### 데이터 불러오기
- [서울시 가로수 데이터셋](https://data.seoul.go.kr/dataList/367/S/2/datasetView.do)을 사용합니다.

다음 링크를 참조하세요. 
<https://ds-lecture-data.s3.ap-northeast-2.amazonaws.com/seoul_tree/seoul_tree.txt>

**서울시에는 구별로 평균적으로 약 400 그루 정도의 `이팝나무`가 있다** 라는 가설에 대해 가설검정을 시행하세요.

단, `서울시`, `공원녹지사업소`, `시설관리공단` 부분의 데이터는 제외합니다.

이번에는 10개의 구를 샘플링하여, 위에 대한 가설검정을 다시 한번 시행해보세요. 

단, 아래의 코드를 참조하여 sample 을 위한 seed 는 123으로 설정하세요.

```python
np.random.seed(123)
np.random.choice( ,size = 10) 
```

Ttest_1sampResult(statistic=0.706555193453698, pvalue=0.49772576203804575)

왜 두 t-test의 결론이, 동일한 데이터셋임에도 불구하고 다른 결론이 나왔나요?

## 2. 2-Sample T-tests 연습

**서울시의 구별 평균 느티나무수와 왕벚나무의 수는 차이가 없다** 라는 가설에 대해 가설검정을 시행하세요.

단, `서울시`, `공원녹지사업소`, `시설관리공단` 부분의 데이터는 제외합니다.


다음 링크를 참조하세요.
<https://stackoverflow.com/questions/15984221/how-to-perform-two-sample-one-tailed-t-test-with-numpy-scipy>

One-tailed test를 사용하여 **평균 느티나무수가 왕벚나무 수보다 크다**라는 가설에 대한 가설검정을 시행하세요.

## 🔥 **도전과제**

아래 세가지중 한가지를 하면 됩니다.

### 1) 함수와 반복문을 사용하여 (for loop, .apply(), list 등등) 종로구 vs 다른 모든 자치구에 대해서 two-sample t-test를 시행하세요.

### 2) multiple-sample t-test
 

다음 링크를 참조하세요. <https://reneshbedre.github.io/blog/anova.html>

구별, 은행나무, 양버즘나무, 느티나무에 대해서 ANOVA Test를 실행하세요.

단, `서울시`, `공원녹지사업소`, `시설관리공단` 부분의 데이터는 제외합니다.

### 3) 세션 시간에 배웠던 4가지 sample 방식을 구현해보세요.

이를 위한 데이터는 1 부터 100 이며, sampling해야 하는 수는 20개 입니다.

- Stratified random sampling을 위한 그룹을 나누는 기준은 1-10, 11-20, ... 과 같은 방식입니다.

- Cluster sampling 을 위한 그룹을 나누는 기준은 5로 나눴을때의 나머지 값입니다. (0,1,2,3,4)