<img src='https://user-images.githubusercontent.com/6457691/90080969-0f758d00-dd47-11ea-8191-fa12fd2054a7.png' width = '200' align = 'right'>

## *DATA SCIENCE / SECTION 1 / SPRINT 1 / NOTE 3*

---

# Join and Reshape

## 🏆 학습 목표 

- pandas를 통해 데이터를 concat / merge 할 수 있다.
- Tidy 데이터 에 대한 개념을 이해한다
- `.melt()`와 `.pivot()` 함수를 사용하여 wide와 tidy 형태의 데이터를 서로 변환 할 수 있다.

---

# pandas를 사용하여 데이터프레임 더하기 (concat)

## 개요

더하기("Concatenate") 란 2개의 물체를 하나로 합친다는 의미의 단어입니다. 예를 들어, 2개의 문자열을 `+` 연산자를 이용해 "더할" 수 있습니다.

In [ ]:
'We can join/concatenate two strings together ' + 'using the "+" operator.'

2개의 데이터프레임을 "더하는 것"은 열이나 행을 기준으로 붙이는 것을 의미합니다. 간단한 예시를 통해 알아봅시다:

In [ ]:
import pandas as pd

<img src='https://user-images.githubusercontent.com/6457691/90111677-f5a96980-dd89-11ea-81f6-9891494883f6.png' width = 600>

## concate_by_row = pd.concat([x, y])

## concate_by_col = pd.concat([x, y], axis = 1)

데이터프레임을 더할 때, 일반적으로는 더해지는 행, 열의 이름이나 인덱스 값이 일치해야 합니다. 만약 그렇지 않은 경우, 비어있는 부분에 대해서는 `NaN` 값으로 채워질 것입니다.

<img src='https://user-images.githubusercontent.com/6457691/90112606-2e960e00-dd8b-11ea-8aab-32fcf3d5f5fa.png' width = 500>

<img src='https://user-images.githubusercontent.com/6457691/90112625-35248580-dd8b-11ea-97c6-f70c1691c084.png' width = 500>

## 따라하세요.

이번에는 [3 Million Instacart Orders, Open Sourced](https://tech.instacart.com/3-million-instacart-orders-open-sourced-d40d29ead6f2) 데이터셋을 사용하도록 하겠습니다.

파일들은 여러개로 구성되어 있기 때문에, 각각의 CSV가 잘 로드 되었는지 확인하는 것 뿐만 아니라 데이터프레임을 하나로 합치는 것 또한 필요합니다.

이번의 목표는 아래 그림처럼 사용자 id 1에 해당하는 데이터를 합치는 것입니다.

<img src='https://cdn-images-1.medium.com/max/1600/1*vYGFQCafJtGBBX5mbl0xyw.png' width = 600>

In [ ]:
# !wget https://s3.amazonaws.com/instacart-datasets/instacart_online_grocery_shopping_2017_05_01.tar.gz
# !tar --gunzip --extract --verbose --file=instacart_online_grocery_shopping_2017_05_01.tar.gz
%cd instacart_2017_05_01
!ls -lh *.csv

In [ ]:
aisles = pd.read_csv('aisles.csv')
print(aisles.shape)
aisles.head()

### aisles

aisles.csv 파일은 사용하지 않습니다.

In [ ]:
departments = pd.read_csv('departments.csv')
print(departments.shape)
departments.head()

### departments

departments.csv 파일은 사용하지 않습니다.

In [ ]:
order_products__prior = pd.read_csv('order_products__prior.csv')
print(order_products__prior.shape)
order_products__prior.head()

### order_products__prior

다음의 데이터가 필요합니다:
- order id
- product id
- add to cart order

('reordered'를 제외한 나머지)

In [ ]:
order_products__train = pd.read_csv('order_products__train.csv')
print(order_products__train.shape)
order_products__train.head()

### order_products__train

다음의 데이터가 필요합니다:
- order id
- proudct id
- add to cart order

('reordered'를 제외한 나머지)

order_products__train와 order_products__prior의 유사점을 확인 할 수 있나요?

In [ ]:
orders = pd.read_csv('orders.csv')
print(orders.shape)
orders.head()

### orders

다음의 데이터가 필요합니다:
- order id
- user id
- order number
- order dow
- order hour of day

In [ ]:
products = pd.read_csv('products.csv')
print(products.shape)
products.head()

### products

다음의 데이터가 필요합니다:
- product id
- product name

## order_products__prior 와 order_products__train 를 더하기

In [ ]:
order_products__prior.shape

In [ ]:
order_products__train.shape

In [ ]:
order_products = pd.concat([order_products__prior, order_products__train])

print(order_products.shape)
order_products.head()

# pandas를 이용하여 데이터 프레임 합치기 (Merge)

<img src='https://cdn-images-1.medium.com/max/1600/1*vYGFQCafJtGBBX5mbl0xyw.png' width = 600>

계속 진행하기 이전에, 위 목표 데이터를 위해 어느 데이터의 부분들이 필요한지 먼저 확인하는 작업이 필요합니다.

### Orders 

누가 어떤 주문을 했는지와 같은 특정 주문에 대한 정보를 포함하고 있습니다. 

- user_id
- order_id
- order_number
- order_dow
- order_hour_of_day

### Products 

특정 상품에 대한 정보를 포함하고 있습니다.

- product_id
- product_name

### Order_Products

어느 제품이 어떤 주문에 포함되어 있는지에 대한 정보를 포함하고 있습니다.

- order_id
- product_id
- add_to_cart_order

새롭게 만드려는 테이블을 자세히보면, 특정 제품의 주문 보다는 특정 **구매자**에 집중하고 있는 것을 알 수 있습니다. 처음 두개의 주문을 기준으로 구매자와 주문을 연관 짓는 데이터프레임을 각각 선택하여, 하나의 테이블로 만들어야 합니다. 

**데이터프레임 병합에 있어서 핵심 요소는 두 데이터셋에 모두 존재하는 데이터만을 선택하여 데이터프레임으로 합쳐야 하는 것입니다.**

데이터프레임을 2개 가지고 있기 때문에, 데이터를 두번 합칠 것입니다. 이를 위해서 아래와 같은 단계로 진행하겠습니다.

1) 데이터프레임의 어느 부분을 합칠 것인지를 설정하기

2) 두 데이터프레임에서 공통으로 포함되어 있는 열을 찾기

3) 데이터프레임을 각각 필요한 부분만 선택하기

4) 데이터프레임들을 합치기

### 첫 병합

1) `orders` 와 `order_products`를 합칩니다.

2) 두 데이터셋에서 `order_id` 열을 선택합니다.

3) 두 데이터셋에 포함되어 있는 수많은 행 중에서 우리가 필요로 하는 것은 단 11개의 행입니다. 즉 필요하지 않은 다른 부분은 선택하지 않습니다.

이를 위해서 어떠한 방법으로 `orders` 데이터프레임의 부분을 "선택"해야할까요? (Filter)

`user_id == 1` 과 `order_id <=2` 또는
`order_id == 2539329` 과 `order_id == 2398795` 에 해당하는 데이터셋을 선택해야 합니다.

In [ ]:
# 데이터프레임 필터링 예시

# 필터링 조건 (Condition) 설정
condition = (orders['order_id'] <= 5)

# [ ] 안에 컨디션을 설정하는 것으로, 컨디션의 값이 *TRUE*로 해당하는 부분의 데이터만 선택 할 수 있습니다.
orders_subset = orders[condition]

# 결과물을 확인
orders_subset.head()

In [ ]:
condition = ( (orders['user_id']==1) & (orders['order_id']<=2))
orders_subset = orders[condition]

print(orders_subset.shape)
orders_subset.head()

In [ ]:
# 컨디션을 "condition"이라는 변수에 매번 설정할 필요는 없으며,
# 바로 사용 하는 것도 가능합니다.

데이터 필터링을 위한 조건이 한가지 더 있었으니, 해당 하는 컨디션에 대해서도 필터링을 사용해보세요.(`order_id`를 사용하는 방법)

In [ ]:
orders_subset = orders[((orders['order_id'] == 2539329) | (orders['order_id'] == 2398795))]

print(orders_subset.shape)
orders_subset.head(15)

이번에는 order_products 데이터프레임을 필터링 할 시간입니다.

해당 테이블을 위해서는 어떤 컨디션을 사용해야 할까요?

order_id를 다시 사용해야 합니다.

In [ ]:
order_products_subset = order_products[((order_products['order_id'] == 2539329) | (order_products['order_id'] == 2398795))]

print(order_products_subset.shape)
order_products_subset.head(11)

4) 이제 2개의 테이블을 합칠 준비가 되었습니다.

In [ ]:
orders_and_products = pd.merge(orders_subset, order_products_subset, on='order_id', how='inner')

orders_and_products.head(11)

<img src='https://cdn-images-1.medium.com/max/1600/1*vYGFQCafJtGBBX5mbl0xyw.png' width = 600>

In [ ]:
### 필요하지 않은 열에 대해서 삭제

orders_and_products = orders_and_products.drop(['eval_set', 'reordered', 'days_since_prior_order'], axis='columns')
orders_and_products.head(11)

원했던 결과에 거의 도달하였습니다, 그러나 한가지 `product_name` 열에 대해서 추가로 작업해야 합니다.

1) `orders_and_products` 와 `products`를 병합합니다.

2) 두 테이블 모두에서 `product_id`를 사용합니다.

3) 추가로, `products` 데이터프레임에서 필요 없는 부분을 제거 한 뒤 사용합니다.

In [ ]:
orders_and_products['product_id']

In [ ]:
orders_and_products['product_id'].isin([196, 26088])

In [ ]:
condition = products['product_id'].isin(orders_and_products['product_id'])

products_subset = products[condition]

products_subset

In [ ]:
final = pd.merge(orders_and_products, products_subset, on='product_id', how='inner')

final

In [ ]:
final = final.drop(['aisle_id', 'department_id'], axis=1)
final

<img src='https://cdn-images-1.medium.com/max/1600/1*vYGFQCafJtGBBX5mbl0xyw.png' width = 600>

### 추가적인 데이터 정리

In [ ]:
# 행에 대해서 정렬
final = final.sort_values(by=['order_number', 'add_to_cart_order'])
final

In [ ]:
# 열을 재배치
final = final[['user_id', 'order_id', 'order_number', 'order_dow', 'order_hour_of_day', 'add_to_cart_order', 'product_id', 'product_name']]

In [ ]:
# 헤더에서 밑줄 (_) 제거
final.columns = [column.replace('_', ' ') for column in final]
final

<img src='https://cdn-images-1.medium.com/max/1600/1*vYGFQCafJtGBBX5mbl0xyw.png' width = 600>

# Tidy 데이터

## 개요

### 데이터 형태 변환의 필요성

#### 라이브러리에 따라서 다른 형태의 데이터를 필요로 합니다.

예를 들어, 데이터시각화에 쓰이는 Seaborn 라이브러리는 "Tidy"한 데이터를 필요로 합니다 (항상 그런것은 아닙니다).

## Tidy Data 란?

<img src='https://user-images.githubusercontent.com/6457691/90115082-913cd900-dd8e-11ea-99d4-006576439dc6.png' width = 600>

In [ ]:
%matplotlib inline
import pandas as pd
import numpy as np
import seaborn as sns

table1 = pd.DataFrame(
    [[np.nan, 2],
     [16,    11], 
     [3,      1]],
    index=['John Smith', 'Jane Doe', 'Mary Johnson'], 
    columns=['treatmenta', 'treatmentb'])

table1

"Table 1 은 가상의 실험에 대한 데이터를 야생에서 볼 수 있는 `Wide` 한 형태로 제공합니다.

테이블은 2개의 열과 3개의 행으로 구성되어 있으며 각각 라벨링 되어 있습니다."

In [ ]:
table1

"이 데이터를 구조화하는 방법으로 많은 방법 들이 있습니다.

Table 2는 Table 1과 동일한 결과를 보여주지만, 행과 열이 `전치` (transpose) 되어 있어 보이는 레이아웃이 다릅니다."

In [ ]:
table2 = table1.T
table2

"Table 3 은 Table 1을 값과 변수 그리고 관측을 더 명확하게 하기 위해서 다른 방식으로 재정리하였습니다.

Table 3 은 Table 1의 "tidy" 버전입니다. 각 열은 하나의 관측을 의미하며, 한 사람에 대해서 작업물 (treatment)과 그 결과 값이 포함되어있습니다."

| name         | trt | result |
|--------------|-----|--------|
| John Smith   | a   | -      |
| Jane Doe     | a   | 16     |
| Mary Johnson | a   | 3      |
| John Smith   | b   | 2      |
| Jane Doe     | b   | 11     |
| Mary Johnson | b   | 1      |

### Table 1 --> Tidy

pandas 의 `melt` 함수를 사용하여 Table 1을 Tidy 형태로 바꿀 수 있습니다.

In [ ]:
### 행의 인덱스를 선택하고, 이를 행으로 새로 추가합니다.
table1 = table1.reset_index()
table1

In [ ]:
### 각 행에 대해서 중복되지 않은 인자 (unique identifier)를 확인합니다.
### 한개의 "tidy" 한 열에 대해서 포함되어야 할 (기준이 되는) 데이터를 선택합니다.
tidy1 = table1.melt(id_vars='index', value_vars=['treatmenta', 'treatmentb'])
tidy1

In [ ]:
# 열의 이름을 수정합니다.
tidy1 = tidy1.rename(columns={
    'index': 'name', 
    'variable': 'trt', 
    'value': 'result'
})
tidy1

In [ ]:
# treatmenta 와 treatmentb라는 값에서 treatment라는 문자열을 제거합니다.

tidy1.trt = tidy1.trt.str.replace('treatment', '')

tidy1

### Tidy --> Table 1

`pivot_table` 함수는 `melt`의 반대 역할을 하는 함수입니다.

In [ ]:
# 파라미터에 대한 설명
# index: unique identifier
# columns: "wide" 데이터에서 column별로 다르게 하고자 하는 값.
# values: 결과값이 들어가는 곳 (wide 데이터프레임의 내용에 들어갈 값)
wide = tidy1.pivot_table(index='name', columns='trt', values='result')
wide

# `.melt()`와 `.pivot()`를 사용하여 tidy - wide 형태를 변환하기.

Tidy 데이터는 Seaborn과 같은 시각화 라이브러리에서 유용하게 쓰일수 있습니다. 

Tidy 데이터라는 것을 다음을 의미합니다: 

- 각 변수는 열에 해당되고
- 각 관측은 행에 해당됩니다.

In [ ]:
### Seaborn의 기능 중 한가지 예시입니다.

sns.catplot(x = 'trt', y = 'result', col = 'name', kind = 'bar', data = tidy1, height = 2);

## 따라하세요.

Instacart 데이터셋을 사용하여 아래 그림의 부분을 따라 만들어보도록 하겠습니다.

<img src='https://cdn-images-1.medium.com/max/1600/1*wKfV6OV-_1Ipwrl7AjjSuw.png' width = 600>

50개의 제품을 전부 그리는 대신, 각 리스트에서 1개 씩: 
- Half And Half Ultra Pasteurized
- Half Baked Frozen Yogurt
만을 그리도록 하겠습니다

이제 주어진 `product_name`에 대해서, `order_hour_of_day` 패턴을 계산해야 합니다.

In [ ]:
products = pd.read_csv('products.csv')

order_products = pd.concat([pd.read_csv('order_products__prior.csv'), 
                            pd.read_csv('order_products__train.csv')])

orders = pd.read_csv('orders.csv')

### 부분선택 및 병합 (Subset and Merge)

`products`와 `orders` 데이터셋 처럼, 공통의 열이 없는 경우의 합병은 중요한 문제 입니다. 이를 위해서 `order_products`라는 데이터 셋을 사용해야합니다. 

다음은 앞서 말한 2개의 제품입니다.

In [ ]:
product_names = ['Half Baked Frozen Yogurt', 'Half And Half Ultra Pasteurized']

작업을 하기 위해 열의 확인을 다시 하도록 하겠습니다.

In [ ]:
products.columns.to_list()

In [ ]:
orders.columns.to_list()

In [ ]:
order_products.columns.to_list()

이번에는 데이터프레임의 부분을 선택후 다른 부분들과 **한꺼번에** 병합하도록 하겠습니다.

In [ ]:
merged = (products[['product_id', 'product_name']]
          .merge(order_products[['order_id', 'product_id']])
          .merge(orders[['order_id', 'order_hour_of_day']]))

merged.head()

사실 위에서 한 작업은 모든 제품에 대해서 이뤄진 것으로 우리가 필요로 하는 2개의 제품에 대해서는 선택후, 병합이라는 단계를 거쳐야합니다. 
- 병합 후 선택 
- 선택 후 병합 
두가지 방법 모두 결과물은 같지만 차이는 분명히 존재합니다. 다만 지금은 그 차이에 집중하는 것보단, 결과물을 확인하는것을 우선으로 하도록 하겠습니다.

In [ ]:
condition = ((merged['product_name']=='Half Baked Frozen Yogurt') | 
             (merged['product_name']=='Half And Half Ultra Pasteurized'))

merged = merged[condition]

print(merged.shape)
merged.head()

앞에서처럼, 컨디션을 설정하는데에 있어서는 여러가지 방법이 있습니다.

In [ ]:
product_names = ['Half Baked Frozen Yogurt', 'Half And Half Ultra Pasteurized']

condition = merged['product_name'].isin(product_names)

subset = merged[condition]

print(subset.shape)
subset.head()

In [ ]:
froyo = subset[subset['product_name']=='Half Baked Frozen Yogurt']
cream = subset[subset['product_name']=='Half And Half Ultra Pasteurized']

### 형태변환과 그림을 위한 4가지 방법

<img src='https://cdn-images-1.medium.com/max/1600/1*wKfV6OV-_1Ipwrl7AjjSuw.png' width = 600>

1) `.value_counts()` 방법.

한개의 열에 구성되어있는 주요 변수 (값)이 목적임을 유의하십시오.

In [ ]:
cream['order_hour_of_day'].value_counts(normalize=True).sort_index()

In [ ]:
(cream['order_hour_of_day']
 .value_counts(normalize=True)
 .sort_index()
 .plot())

(froyo['order_hour_of_day']
 .value_counts(normalize=True)
 .sort_index()
 .plot());

2) Crosstab

In [ ]:
pd.crosstab(subset['order_hour_of_day'], 
            subset['product_name'], 
            normalize='columns').plot();

3) Pivot Table

In [ ]:
subset.pivot_table(index='order_hour_of_day', 
                   columns='product_name', 
                   values='order_id', 
                   aggfunc=len).plot();

4) Melt 

우선 데이터를 wide 한 형태로 바꾸어야 합니다. crosstab 또한 pivot_table의 일종이니 이를 사용합니다.

In [ ]:
table = pd.crosstab(subset['order_hour_of_day'], 
                    subset['product_name'], 
                    normalize=True)

table

In [ ]:
melted = table.reset_index().melt(id_vars='order_hour_of_day').rename(columns={
     'order_hour_of_day': 'Hour of Day Ordered', 
     'product_name': 'Product', 
     'value': 'Percent of Orders by Product'
 })

melted

이후 아래처럼 Seaborn을 사용하여 그림을 그릴 수 있습니다:

In [ ]:
sns.relplot(x='Hour of Day Ordered', 
            y='Percent of Orders by Product', 
            hue='Product', 
            data=melted, 
            kind='line');